<div class="container" id="sign-up-form">
  <div class="row">
    <h1 class="welcome">Welcome to <i class="icon-logo">WhereTo?</i></h1>
    <h4 class="welcome sign-up-caption">Make ordering company meals fun and easy.</h4>
    <div class="col-sm-offset-4 col-sm-4">
        <%= bootstrap_form_for(resource, 
                        :as => resource_name, 
                        :url => registration_path(resource_name)) do |f| %>

        <%= f.text_field :name, 
                    placeholder: 'username (will be shown publicly)', 
                    class: 'form-control' %>
        <%= f.text_field :email, 
                    placeholder: 'email', 
                    class: 'form-control' %>
        <%= f.password_field :password, 
                              placeholder: 'password', 
                              class: 'form-control' %>
        <%= f.password_field :password_confirmation, 
                              placeholder: 'password confirmation', 
                              class: 'form-control' %>
        <%= f.submit 'Sign up', class: 'btn btn-outline-danger waves-effect sign-up' %>
        <% end %>
    </div>
  </div>
</div>