<div class="col-md-12">
  <%= form_with(model: [@poll, @poll_response]) do |form| %>
    <% @poll.restaurants.each do |restaurant|%>
      <div class="btn-group" data-toggle="buttons"">
        <%= form.label(restaurant.name) do %>
          <div>
            <%= restaurant.name %>
            <%= form.radio_button(:restaurant_id, restaurant.id, checked: false) %>
          </div>
        <% end %>
      </div>
      </div>
    <% end %>
    <%= form.submit "Vote!", class: "btn btn-success" %>
  <% end %>
</div>


